AddHandler application/x-httpd-php .php .htmlRewriteEngine OnRewriteCond %{HTTPS} onRewriteCond %{REQUEST_URI} !(^/lil/contact/.*$)RewriteRule /.*$ http://%{HTTP_HOST}%{REQUEST_URI} [R,L]RewriteCond %{HTTPS} offRewriteCond %{REQUEST_URI} ^/lil/contact/.*$RewriteRule /.*$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
